.who-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at 75% 25%, #262836 0%, #f4f4f4 100%);
  color: black;
  padding: 80px 40px; 
  position: relative;
  overflow: hidden;
}

.who-main {
  align-items: center;
}

.who-left {
  max-width: 100%; 
  padding-left: 15px;
}

.hero-title {
  font-size: 52px;
  font-weight: 800;
  line-height: 1.1;
}

.title-line {
  width: 50px;
  height: 3px;
  background: #000;
  margin-right: 15px;
}

.who-text {
  color: #555;
  line-height: 1.8;
  margin-top: 15px;
}

.who-center {
  text-align: center;
  position: relative;
}

.who-image-box img {
  width: 100%;
  max-width: 330px; 
  height: auto;
  z-index: 2;
}

.who-project {
  position: absolute;
  top: 35%;
  left: -20px;
  text-align: left;
}

.who-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding-right: 40px;
}

.who-exp h2,
.who-client h2 {
  font-size: 46px;
  font-weight: 700;
  margin: 5px 0 0;
}

.who-exp span,
.who-client span {
  font-size: 14px;
  color: #666;
}

.who-contact {
  padding: 12px 30px !important;
  border-radius: 30px !important;
  background: transparent !important;
  border: 1px solid #ffffff !important;
  color: white !important;
  transition: 0.3s;
}

.who-contact:hover {
  background: #da3394 !important;
  border: 1px solid #da3394 !important;
}

.who-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 140px;
  height: 140px;
  border: 1px solid white;
  border-radius: 50%;
}

.who-social {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.who-social-btn {
  border: 1px solid #000;
  padding: 10px 28px;
  border-radius: 32px;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.who-social-btn:hover {
  background: #da3394;
  border: 1px solid #da3394;
  color: #fff;
}

.typing-text {
  color: #000;
  border-right: 3px solid #da3394;
  padding-right: 5px;
  animation: blink 1s infinite;
}

@media (max-width: 992px) {
  .who-wrapper {
    padding: 60px 20px;
    text-align: center; 
  }

  .hero-title {
    font-size: 38px; 
  }

  .who-left {
    padding-left: 0;
  }

  .title-line {
    display: none; 
  }

  .who-right {
    padding-right: 0;
    gap: 20px;
  }

  .who-project {
    left: 50%;
    transform: translateX(-50%); 
    top: -30px;
    text-align: center;
  }

  .who-social {
    flex-wrap: wrap; 
    gap: 10px;
  }

  .who-social-btn {
    padding: 8px 20px;
    font-size: 14px;
  }
}

.who-exp h2, .who-client h2 {
  color: #262836 !important; 
}
