.hero-section {
  padding: 70px 0;
  background: radial-gradient(circle at 70% 20%, #262836 0%, #ffffff 60%);
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
}



.title-line {
  width: 50px;
  height: 5px;
  background-color: #555;
  margin-right: 10px;
}

.text-accent {
  color: #da3394; 
}

.bg-accent {
  background-color: #da3394 !important;
}

.blob-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #da3394; */
  background: radial-gradient(circle at 100% 20%, #262836 0%, #ffffff 60%);
  z-index: -1;
  transform: scale(1); 
  animation: blob-morph 7s linear infinite alternate;
}

.hero-image {
  width: 100%;
  max-width: 300px; 
  display: block;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  padding: 40px; 
  animation: floating 4s ease-in-out infinite;
  margin-top: 50px;
}
@keyframes blob-morph {
  0% {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
  100% {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0px);
  }
}